<table>
    <thead>
      <tr>
        <th>{{calculation}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td (click)="addNumber(7)">7</td>
        <td (click)="addNumber(8)">8</td>
        <td (click)="addNumber(9)">9</td>
        <td (click)="addOperator('MULTIPLY')">X</td>
      </tr>
      <tr>
        <td (click)="addNumber(4)">4</td>
        <td (click)="addNumber(5)">5</td>
        <td (click)="addNumber(6)">6</td>
        <td (click)="addOperator('SUBTRACT')">-</td>
      </tr>
      <tr>
        <td (click)="addNumber(1)">1</td>
        <td (click)="addNumber(2)">2</td>
        <td (click)="addNumber(3)">3</td>
        <td (click)="addOperator('ADD')">+</td>
      </tr>
      <tr>
        <td (click)="addNumber(0)">0</td>
        <td (click)="calculate()">=</td>
        <td (click)="addOperator('DIVIDE')">/</td>
      </tr>
    </tbody>
  </table>
